body { background: #453f46; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 10px; display: flex; }
.block-uploader-0 { color: #e0b23; font-size: 18px; margin-bottom: 5px; }
.block-cart-1 { color: #cd8f2d; font-size: 17px; margin-bottom: 5px; }
.block-uploader-2 { color: #834b8d; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #7bd789; font-size: 14px; margin-bottom: 5px; }
.block-cache-4 { color: #bcb499; font-size: 14px; margin-bottom: 5px; }
.block-filter-5 { color: #5f2a83; font-size: 14px; margin-bottom: 5px; }